extends layout.pug

block content

  h1 Update Book
  form
    p
      label(for="title") Title
      input(name="title", type="text", id="title", value="A Brief History of Time")
    p
      label(for="author") Author
      input(name="author", type="text", id="author", value="Stephen Hawking")
    p
      label(for="genre") Genre
      input(name="genre", type="text", id="genre", value="Non -Fiction")
    p
      label(for="year") Year
      input(name="year", type="text", id="year", value="1988")
    p
      input(type="submit", value="Update Book")